.mainpage-header-container {
  padding: 10px;
  font-weight: bolder;
  font-style: italic;
  font-family: "Dancing Script", cursive;
  font-family: "Playpen Sans", cursive;
  background-image: linear-gradient(
    to right,
    rgb(130, 207, 238),
    rgb(0, 65, 130)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainpage-header-container img {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mainpage-header-container .btn-primary {
  background: none;
  padding: 10px 25px;
}

.mainpage-header-container .dropdown-menu .dropdown-item:hover {
  background-image: linear-gradient(
    to right,
    rgb(130, 207, 238),
    rgb(0, 65, 130)
  );
}

.offcanvas.offcanvas-end {
  background-color: rgba(0, 0, 0, 0.242);
  color: white;
  height: fit-content;
  width: fit-content;
}

.offcanvas-header {
  padding: 10px 0;
  background-image: linear-gradient(
    to right,
    rgb(130, 207, 238),
    rgb(0, 65, 130)
  );
  border-bottom: solid 3px white;
}

.offcanvas h4:hover {
  cursor: pointer;
}
