.header-main-container {
  padding: 10px;
  font-weight: bolder;
  font-style: italic;
  font-family: "Dancing Script", cursive;
  font-family: "Playpen Sans", cursive;
  background-image: linear-gradient(
    to right,
    rgb(130, 207, 238),
    rgb(0, 65, 130)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-main-container img {
  width: 100px;
  height: 80px;
  border-radius: 360px;
}

.header-main-container .btn-group .btn-outline-danger {
  color: black;
  font-weight: 600;
  font-size: large;
  border: none;
  padding: 10px;
}
