.main-todolist-container {
  margin: 5px;
  border: 1px solid black;
}

.main-todolist-container .task-container {
  padding: 10px;
}

.table-con {
  margin-top: 10px;
  width: 100%;
}

.table-con thead tr th {
  border: 1px solid #3f63ce;
  padding: 15px;
  text-align: center;
  background-color: #aaa7a7;
}

.table-con tbody tr td {
  border: 1px solid #3f63ce;
  text-align: center;
  background-color: white;
  height: 50px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.done {
  color: greenyellow;
  font-weight: bold;
  text-decoration: line-through;
}

.addtask-con button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px;
  border: none;
  z-index: 99999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: relative;
  left: 85%;
  font-weight: bold;
  font-family: cursive;
  font-size: small;
}

.addtask-con:hover {
  cursor: auto;
}

.addtask-con label {
  font-size: small;
}
